<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 注意：namespace中的值必须是对应接口的全路径，SQL语句中的id值必须是这个接口中对应方法名称 -->
<mapper namespace="com.yc.DayFresh.mapper.IAddrInfoMapper">
	<insert id="insert" parameterType="Addrinfo" >
		insert into addrinfo values(0, #{mno}, #{name}, #{tel}, #{province}, #{city}, #{area}, #{addr}, #{flag}, #{status})
	</insert>
	
	<select id="finds" parameterType="String" resultType="Addrinfo">
		select  ano, name, tel, province, city, addr, area, flag from addrinfo where mno=#{mno}
	</select>
	
	
	<update id="updates" parameterType="string" >
		update addrinfo set flag=1 where ano=#{ano}  
	</update>
	
	<update id="updatese" parameterType="string" >
		update addrinfo set flag=0 where ano!=#{ano}
	</update>
	
	<update id="change" parameterType="string" >
		update addrinfo set status=1 where ano=#{ano}  
	</update>
	
	<update id="changes" parameterType="string" >
		update addrinfo set status=0 where ano!=#{ano}
	</update>
	
</mapper>